@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');



.post {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.font{
    font-family: "pathway Gothic One";
    color: black;
    font-size: 80px;
    background-color: white;
     
}
.background-h1 {
    background-color: rgb(223, 26, 141);
}


.container {
    flex-wrap: wrap;
    border-bottom: solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    width: 80%;
    padding-top: 15px;
    background-color: #828CEE;
    margin-bottom: 20px;
}
.title-body {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    
}
.title-body h3 {
    color: rgb(212, 233, 21);
}

.title-body p {
    color: white
}

    .delete-edit-like{
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        gap: 15px;
        padding-right: 30px;
        padding-top: 20px;
        font-size: 22px;
        flex-wrap: wrap;
        max-width: 100%;
 }

 

